Materiali/JMAppInserimentoCircolareONotizia2.0/clientCasoUso3/xml-resources/web-service-references/circolari/wsdl/localhost_8080/webServer3/circolari.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://com.perego.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://com.perego.org/">

<xs:element name="set_nomeCircolare" type="tns:set_nomeCircolare" />

<xs:element name="set_nomeCircolareResponse" type="tns:set_nomeCircolareResponse" />

<xs:complexType name="set_nomeCircolare">
<xs:sequence>
<xs:element name="nomeDocumento" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="set_nomeCircolareResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>