Materiali/JMAppCasoUsoRegistrazione/DemoJavaAggiuntaUtenteDB/src/META-INF/wsdl/localhost_8080/CasoUsoRegistrazioneTapSchool/RegistrazioneUtenteDB.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://RegistrazioneUtenteDB/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://RegistrazioneUtenteDB/">

<xs:element name="RegisterUser" type="tns:RegisterUser" />

<xs:element name="RegisterUserResponse" type="tns:RegisterUserResponse" />

<xs:complexType name="RegisterUser">
<xs:sequence>
<xs:element name="Nome" type="xs:string" minOccurs="0" />
<xs:element name="Cognome" type="xs:string" minOccurs="0" />
<xs:element name="Email" type="xs:string" minOccurs="0" />
<xs:element name="Password" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="RegisterUserResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>
</xs:schema>